@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');

* {
  font-family: 'Kalam', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #3198e2,#6d59c0, #b93590, #e33f5f, #fdd579 );
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.TodoWrapper {
  
  background: #18181858;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 6px 3px 3px  rgba(0, 0, 0, 0.367);
  height: 50rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #f2ecff5e;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 300px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.todo-input::placeholder {
  color: #ffffff4d;
  font-family: 'Kalam', cursive;
  
}

.todo-btn {
  background: #f2ecff5e;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 10px;
  
  
}
.todo-btn:hover{
  background: #222222a4 ;
  transition: 200ms;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2ecff5e;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.todos{
  max-height: 35rem;
  overflow: auto;
}
/* Funciona para o Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black #18181858;
}

/* Funciona para o Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  max-height: 5px;;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.71);
  border-radius: 30px;
  max-height: 5px;
  border: none;
}
.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 